jax>=0.9.0
jaxlib>=0.9.0
jmp @ git+https://github.com/deepmind/jmp
matplotlib
numpy
pyvista
Rtree
trimesh
orbax-checkpoint
termcolor
h5py
PhantomGaze @ git+https://github.com/loliverhennigh/PhantomGaze.git
pytest
